/* Mobile Responsive */

@media only screen and (max-width: 576px) {
  /* Common Css Start */
  .space-top {
    padding-top: 80px;
  }
  .space-bottom {
    padding-bottom: 80px;
  }
  .product-card {
    max-width: 100%;
  }
  /* Common Css End */
  /* Navigation Section Start */
  .primary_nav {
    gap: 0;
  }
  .primary_nav_icon {
    flex-direction: row;
  }
  /* Navigation Section End */

  /* Hero section start */
  .hero-fluid {
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    z-index: auto;
  }
  .hero-section .hero-top-overlay {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .hero-content {
    padding: 60px 12px;
  }
  .hero-content-title {
    font-size: 46px;
    line-height: 55px;
  }
  .hero-content-description {
    font-size: 16px;
    line-height: 20px;
  }
  .hero-content-button {
    margin-top: 15px;
    justify-content: center;
  }
  /* Hero section End */

  /* Featured Section Start */
  .featured-cards {
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
  }
  /* Featured Section End */

  /* Product Section Start */
  .promo-banner {
    padding: 0 20px;
  }
  .promo-banner .promo-tagline {
    padding: 0;
    font-size: 35px;
  }
  /* Product Section End */

  /* About Section Start */
  .about-section .space-top {
    padding-top: 0;
  }
  .about-card {
    padding: 70px 15px;
  }
  /* About Section End */

  /* Promotion Section Start */
  .services-section .btn-callToAction-alt {
    margin-bottom: 50px;
  }
  /* Promotion Section End */
  /* Featured Section Stat */
  .newsletter-section .newsLater-img {
    display: none;
  }
  .newsletter-from {
    padding: 20px 10px;
  }
  .newsletter-from from > label {
    font-size: 25px;
    line-height: 40px;
  }
  .newsletter-from from .from-element {
    flex-direction: column;
    gap: 8px;
  }
  .newsletter-section {
    margin-bottom: -70px;
  }
  /* Featured Section End*/
}
